DirectoryIndex bootstrap.php

# Turn on URL rewriting
RewriteEngine On

# Web Directory
RewriteBase /

# Rewrite URLs to bootstrap.php/URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . bootstrap.php [F,L]

